@import "./_mixins";

:root,
*::before,
*::after {
  --font-size-base: 16px;

  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 0%);

  --color-zelda-1-triforce-orange: #ea9e22;
  --color-zelda-1-triforce-blue: #9290ff;
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Noto Sans", sans-serif; // https://fonts.google.com/noto/specimen/Noto+Sans
  font-size: var(--font-size-base);
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
}

code {
  font-family: "Noto Sans Mono", monospace; // https://fonts.google.com/noto/specimen/Noto+Sans+Mono
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

p {
  margin: 0;
}
