@import "./_variables";
@import "./_mixins";

* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  color: $white;
  font-family: "Noto Sans", sans-serif;
  font-size: $base-font-size;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
}

code {
  font-family: "Noto Sans Mono", monospace;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

p {
  margin: 0;
}
