@import "./_variables";
@import "./_mixins";

* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  background-color: $black;
  font-size: $base-font-size;
}

code {
  font-family: "Noto Sans Mono", monospace;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

p {
  margin: 0;
}
