@import "../../assets/styles/_mixins";

.HomePage {
  align-items: center;
  display: grid;
  grid: "content" auto "footer" min-content;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;

  &-Content {
    grid-area: content;
  }

  &-LogoContainer {
    display: inline-block;
    position: relative;
  }

  &-Logo {
    image-rendering: pixelated;

    @include with-breakpoint("phone-only") {
      height: 64px;
      width: 64px;
    }

    @include with-breakpoint("tablet-portrait-up") {
      height: 128px;
      width: 128px;
    }
  }

  &-AlphaPreview {
    animation-duration: 2s;
    animation-name: alpha-preview;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: $zelda-1-triforce-blue;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 5px black;

    @include with-breakpoint("phone-only") {
      font-size: 0.8em;
      top: 25%;
      right: -100%;
    }

    @include with-breakpoint("tablet-portrait-up") {
      font-size: 1em;
      top: 35%;
      right: -60%;
    }
  }

  &-Title {
    color: $zelda-1-triforce-orange;

    @include with-breakpoint("phone-only") {
      font-size: 2.5em;
      margin: 1rem 0;
    }

    @include with-breakpoint("tablet-portrait-up") {
      font-size: 4em;
      margin-top: 2rem;
    }
  }

  &-Description {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    justify-content: center;

    @include with-breakpoint("phone-only") {
      font-size: 1.2em;

      &_singleLine {
        display: none;
      }

      &_multiLine {
        display: initial;
      }
    }

    @include with-breakpoint("tablet-portrait-up") {
      font-size: 2em;

      &_singleLine {
        display: initial;
      }

      &_multiLine {
        display: none;
      }
    }
  }

  &-Author {
    color: $gray;
    font-size: 1em;
    margin-top: 2rem;
  }

  &-Footer {
    grid-area: footer;
  }

  &-FooterLinkContainer {
    @include with-breakpoint("phone-only") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @include with-breakpoint("tablet-portrait-up") {
      display: flex;
      gap: 2rem;
      justify-content: center;
    }
  }

  &-FooterLink {
    color: $gray !important;
    display: flex;
    gap: 0.5rem;

    @include with-breakpoint("phone-only") {
      align-items: center;
      flex-direction: column;
    }
  }

  &-FooterLinkLogo {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@keyframes alpha-preview {
  0% {
    rotate: 10deg;
    scale: 1;
  }
  50% {
    rotate: 15deg;
    scale: 1.2;
  }
  100% {
    rotate: 10deg;
    scale: 1;
  }
}
